<h2>User list</h2>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Position</th>
    <th class="actions-column">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{ user.name }}</td>
    <td>{{ user.age }}</td>
    <td>{{ user.position }}</td>
    <td class="actions-column">
      <button class="btn btn-danger" (click)="deleteUser(user)">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>