<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Position</th>
    <th>Count of employees</th>
    <th>Average age</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let position of statisticsByPosition">
    <td>{{ position.position }}</td>
    <td>{{ position.count }}</td>
    <td>{{ position.age }}</td>
  </tr>
  </tbody>
</table>