<h2>Create new user</h2>
<form (ngSubmit)="onSubmit()" method="post">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Position</th>
      <th class="actions-column"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="form-group">
          <input type="text" class="form-control" required name="name" placeholder="Name" [(ngModel)]="user.name">
        </div>
      </td>
      <td>
        <div class="form-group">
          <input type="number" class="form-control" required name="age" placeholder="Age" [(ngModel)]="user.age">
        </div>
      </td>
      <td>
        <div class="form-group">
          <select name="position" class="form-control" required [(ngModel)]="user.position">
            <option value=""> -- </option>
            <option [value]="position" *ngFor="let position of positions">{{ position }}</option>
          </select>
        </div>
      </td>
      <td class="actions-column">
        <button class="btn btn-success" type="submit">
          Save
        </button>
        <button class="btn btn-danger" type="reset">
          Reset
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</form>