<div class="row">
  <div class="col-lg-12">
    <user-create (userCreated)="addUser($event)"></user-create>
  </div>
  <div class="col-lg-12">
    <user-list [users]="users"></user-list>
  </div>
</div>