<h2>Employees average age</h2>
<div style="display: block">
  <canvas baseChart
          [data]="chartData"
          [labels]="chartLabels"
          [chartType]="chartType"
          [legend]="false"
  ></canvas>
</div>