<div class="row">
  <div class="col-lg-12">
    <statistics-table [statisticsByPosition]="statisticsByPosition"></statistics-table>
  </div>
  <div class="col-lg-6">
    <employees-count-graph *ngIf="statisticsByPosition" [statisticsByPosition]="statisticsByPosition"></employees-count-graph>
  </div>
  <div class="col-lg-6">
    <employees-age-graph *ngIf="statisticsByPosition" [statisticsByPosition]="statisticsByPosition"></employees-age-graph>
  </div>
</div>